.title {
  font-size: 3rem;
  margin-left: 10px;
}

.section {
  margin: 16px 0px;
}

.sectionTitle {
  color: #53535f;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-left: 10px;
}

.sectionTitle a {
  text-decoration: none;
  color: #5c16c5;
  margin-bottom: 10px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 570px) {
  .title {
    font-size: 2rem;
  }

  .section {
    margin-bottom: 20px;
  }

  .sectionTitle {
    font-size: 1rem;
  }

  .list {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
